<!--질문 입력을 위한 input이 필요 ; 박스 앞에 뭘 적어야하는지에 대한 내용이 필요-->>
<!--날짜 입력을 위한 input이 필요-->
<!--try error-->
<!--제출(확인): form tag가 필요-->

{% extends "polls/base.html" %} {% block title %} 질문 작성/수정 {% endblock %}

{% block content %}

<h2>질문 작성/수정</h2>

<form method="post">
{% csrf_token %}

<!--아래 긴 내용을 한 번에 쓰는 법:  {{ form.as_p }} 이거면 해결-->

<div>
<label for ="question_text">질문:</label>
{{ form.question_text }} <!-- model에 있음-->
{{ form.question_text.errors}}
</div> <!--또는 p(인라인 요소들을 묶어줌)-->

<div>
<label for ="pub-date">게시일:</label>
{{ form.pub_date }}
{{ form.pub_date.errors}}
</div> <!--또는 p(인라인 요소들을 묶어줌)-->


<button type="submit">저장</button>
</form>
{% endblock %}


